.link {
  color: $main-green;
  font-family: "SuisseIntl SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.85px;
}