.contacts {
  &__form-section {
    font-family: "SuisseIntl", sans-serif;
    font-weight: 300;
    background: #3db565 url("/src/assets/images/pattern.png") center no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  &__form {
    flex-basis: 46%;
    &-description {
      flex-basis: 44%;
      line-height: 25px;
    }
  }
}
