@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl.woff") format('woff');
  src: url("../assets/fonts/SuisseIntl.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../assets/fonts/SuisseIntl-Light.woff") format('woff');
  src: url("../assets/fonts/SuisseIntl-Light.woff2") format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl SemiBold";
  src: url("../assets/fonts/SuisseIntl-SemiBold.woff") format('woff');
  src: url("../assets/fonts/SuisseIntl-SemiBold.woff2") format('woff2');
  font-style: normal;
  font-weight: bold;
}